@use 'variables' as *;
@use 'default' as *;

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 40rem;
    border: solid 2px black;
    padding: 3rem;
}

.display {
    height: 1rem;
    width: auto;
    border: solid 2px black;
}